<div class="FAQ">
    <div class="faq fadeInUp" style="animation-delay: 0.5s;">
        <h2 class="question">Are you official?</h2>
        <h2 class="answer">No</h2>
    </div>
    <div class="faq fadeInUp" style="animation-delay: 0.6s;">
        <h2 class="question">What are your sources? How is the data gathered for this project?</h2>
        <h2 class="answer">
            <div class="list-group">
                <a href="https://api.covid19india.org/data.json" class="list-group-item" target="_blank"
                    rel="noopener">Daily Count Link</a>
                <a href="https://api.covid19india.org/v4/min/data.min.json" class="list-group-item" target="_blank"
                    rel="noopener">State Wise Data</a>
                <a href="https://api.covid19india.org/states_daily.json" class="list-group-item" target="_blank"
                    rel="noopener">District Wise Data</a>
                <a href="https://api.covid19india.org/website_data.json" class="list-group-item " target="_blank"
                    rel="noopener">Other Raw Data</a>
            </div>


        </h2>
    </div>

    <div class="faq fadeInUp " style="animation-delay: 0.8s; ">
        <h2 class="question ">Who are you?</h2>
        <h2 class="answer ">Hi, I am Vivek Singh Rajput. I am Fronend Developer & Freelancer having the experience of
            1.5+ years.
        </h2>
    </div>
    <div class="faq fadeInUp " style="animation-delay: 0.9s; ">
        <h2 class="question ">Technology stack</h2>
        <h2 class="answer ">Angular9, Typescript, Javascript, HTML5, CSS3, Bootstrap5, Materialize CSS
        </h2>
    </div>

    <div class="faq fadeInUp " style="animation-delay: 0.8s; ">
        <h2 class="question ">Movite for this project?</h2>
        <h2 class="answer ">
            Utilizing this lockdown period to learn something new and bring awareness through this website to show
            this statistics to people about <b>COVID19</b> and making them aware to stay home.
        </h2>
    </div>

    <div class="faq fadeInUp " style="animation-delay: 0.9s; ">
        <h2 class="question ">Where I can see your other work?</h2>
        <h2 class="answer ">Here is complete list
            <div class="list-group">
                <a href="https://github.com/Brainmetrix" class="list-group-item" target="_blank"
                    rel="noopener">Github</a>
                <a href="https://www.linkedin.com/in/vivek-kumar-singh-88318a100/" class="list-group-item "
                    target="_blank" rel="noopener">LinkedIn</a>
                <a href="https://brainmetrix.github.io/resume/public/index.html" class="list-group-item" target="_blank"
                    rel="noopener">My Portfolio
                    Link
                </a>
            </div>

        </h2>
    </div>
</div>