<div class="Links">
    <div class="link fadeInUp" style="animation-delay: 0.3s;">
        <h3>Ministry of Health and Family Welfare, Gov. of India</h3>
        <a href="https://www.mohfw.gov.in/" target="_blank" rel="noopener">https://www.mohfw.gov.in/</a>
    </div>
    <div class="link fadeInUp" style="animation-delay: 0.2s;">
        <h3>HELPLINE NUMBERS [by State]</h3><a href="https://www.mohfw.gov.in/pdf/coronvavirushelplinenumber.pdf"
            target="_blank" rel="noopener">https://www.mohfw.gov.in/pdf/coronvavirushelplinenumber.pdf</a>
    </div>
    <div class="link fadeInUp" style="animation-delay: 0.4s;">
        <h3>World Health Organization (WHO)</h3><a href="https://covid19.who.int/" target="_blank"
            rel="noopener">https://covid19.who.int/</a>
    </div>
    <div class="link fadeInUp" style="animation-delay: 0.5s;">
        <h3>Centers for Disease Control and Prevention (CDC)</h3>
        <a href="https://www.cdc.gov/coronavirus/2019-ncov/faq.html" target="_blank" rel="noopener">
            https://www.cdc.gov/coronavirus/2019-ncov/faq.html</a>
    </div>
    <div class="link fadeInUp" style="animation-delay: 0.6s;">
        <h3>COVID-19 Global Tracker</h3><a href="https://coronavirus.jhu.edu/map.html" target="_blank"
            rel="noopener">https://coronavirus.jhu.edu/map.html</a>
    </div>
</div>