/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.css";
@font-face {
  font-family: "archia";
  src: url(assets/fonts/archia-bold-webfont.ad8463d1.woff2) format("woff2");
  src: url(assets/fonts/archia-medium-webfont.80da55a5.woff2) format("woff2");
  src: url(assets/fonts/archia-semibold-webfont.890ee929.woff2) format("woff2");
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
/* font-family: "Poppins", sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Michroma&display=swap");
/* font-family: 'Michroma', sans-serif;" */
@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");
/* font-family: 'PT Sans', sans-serif; */

.delete {
  background-color: #ff4d4f;
}

.update {
  background-color: #ffbf00;
}

.success {
  background-color: lightgreen;
}
